<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Cat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blogcss/app.css' %}">
</head>
<body>
    <section id="container">
        <h1>This Is My New Cat</h1>
        <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        <p><button>Get Next Photo</button></p>
        <p>She currently has no name. Please help me name her</p>
    </section>
</body>
</html>
